/* =========================================
   SERVICES
========================================= */

.services {
  min-height: 100vh;
}

.services-heading {
  margin-bottom: 130px;
}

.services-heading h2 {
  font-size: clamp(90px, 15vw, 220px);

  line-height: 0.78;

  letter-spacing: -0.09em;
}

.services-heading h2 span {
  padding-left: 12vw;
}

.service-list {
  border-top: 1px solid #111;
}

.service-item {
  display: grid;

  grid-template-columns: 80px 1fr 60px;

  align-items: center;

  min-height: 110px;

  border-bottom: 1px solid #111;

  transition:
    padding 0.4s ease,
    background 0.4s ease;

  font-family: "DM Mono", monospace;
}

.service-item:hover {
  padding: 0 25px;

  background: #111;

  color: #f2f1ed;
}

.service-item h3 {
  font-family: "Inter", sans-serif;

  font-size: clamp(25px, 4vw, 60px);

  letter-spacing: -0.05em;

  font-weight: 500;
}

.service-arrow {
  text-align: right;

  font-size: 25px;
}